@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #12141d;
  color: #ffffff;
  height: calc(100dvh);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
